<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>

{{ if eq .IsPage true }}
<script>
  new window.Glide(".glide", {
    autoplay: 3000,
    focusAt: "center",
    perView: 2,
    type: "carousel",
  }).mount();
</script>
{{ end }}

</html>